name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go 1.20
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"

      - name: Verify go.mod is sane
        run: go mod tidy && git diff --no-patch --exit-code

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: make build

      - name: Test
        shell: bash
        run: make test
